<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if tag %}
    分类页: {{ category.name }}
{% endif %}

<ul>
    {% for post in post_list %}
        <li>
            <a href="/post/{{ post.id }}.html">{{ post.title }}</a>
            <div>
                <span>作者: {{ post.owner.username }}</span>
                <span>分类: {{ psot.category.name }}</span>
            </div>
            <p>{{ post.desc }}</p>
        </li>
    {% endfor %}
</ul>


<div>
    {% for cate in category %}
        <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
    {% endfor %}

</div>
<hr>

<div>
    {% for nav in navs %}
        <a href="/category/{{ nav.id }}">{{ nav.name }}</a>
    {% endfor %}

</div>

<hr>

<div>
    {% for sidebar in sidebars %}
        <h4>{{ sidebar.title }}</h4>
        {{ sidebar.content }}

    {% endfor %}

</div>

</body>
</html>